.cabecera-catalogo {
    margin: 10px 0 0 0;
    color: #fff;
}

.contenido{
    display: flex;
}

.filtro{
    width: 20%;
    background-color: aqua;
}

.seccion-catalogo{
    width: 80%;
    background-color: blue;
}

.titulo-filtro{

}


