<header>
    <div class="cabecera-catalogo d-flex justify-content-center align-content-center">
        <h1>Catálogo</h1>
    </div>
</header>

<section class="container">
    <div class="d-flex justify-content-center">
        <span class="text-white fs-1 fw-semibold">Nuestras mejores Camionetas</span>
    </div>
    <div class="camionetasGasolina">
        <div class="textoCamionetasGasolina">
            <span class="text-white mb-3">Camionetas Gasolina</span>
        </div>
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="contenedor bg-white d-flex">
                        <img src="https://placehold.co/430x430" class="d-block" alt="..." />
                        <div>
                            <h2>Nombre Camioneta</h2>
                            <p>Modelo</p>
                            <p>Combustible</p>
                            <p>Modelo</p>
                            <p>Combustible</p>
                            <p>Modelo</p>
                            <p>Combustible</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://placehold.co/200x200" class="d-block w-100" alt="..." />
                </div>
                <div class="carousel-item">
                    <img src="https://placehold.co/200x200" class="d-block w-100" alt="..." />
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <div class="camionetasGasolina espacioAbajo">
        <div class="textoCamionetasGasolina">
            <span class="text-white mb-3">Camionetas Diesel</span>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <span routerLink="/catalogo-completo" class="botonCatalogoCompleto">Ver el catalogo completo</span>
    </div>
</section>
