.cabecera-catalogo {
    margin: 20px 0 0 0;

    color: var(--color-texto-prueba) !important;
    background: transparent;
}

.camionetasGasolina {

    margin-top: 0;
    margin-bottom: 40px;

}

.textoCamionetasGasolina {
    font-weight: 500;
    font-size: 35px;
    margin-bottom: 20px;

}

.cartaCarrusel {
    width: 250px;
    height: auto;
    margin: 0 10px;
    background-color: var(--color-gris-oscuro);
    border: 4px solid var(--color-azul-principal);
    color: var(--color-texto-prueba);
}

.cartaCarrusel img{
    padding: 5px;
    border-radius: 10px;
}

.botonDetallesCarrusel{
    background-color: var(--color-azul-claro);
    border-radius: 10px;
    padding: 5px 0;
    border: none;
    font-weight: 500;
}

.botonCompararCarrusel{
    background-color: rgb(255, 234, 5);
    border-radius: 10px;
    padding: 5px 0;
    border: none;
    font-weight: 500;
}

.tituloCarrusel {
    font-size: 20px !important;

}

.espacioAbajo{
    margin-bottom: 60px;
}

.botonCatalogoCompleto {
    font-weight: 500;
    font-size: 35px;
    margin-bottom: 20px;
    background-color: #000;
    color: var(--color-azul-claro);
    padding: 10px 15px;
    border: 4px solid var(--color-azul-claro);
}

.botonCatalogoCompleto:hover{
    cursor: pointer;
    background-color: var(--color-azul-claro);
    color: var(--color-texto-prueba);
    transition: all 0.4s;
}

.CarruselCarta{
    background-color: var(--color-gris-carta);
    border: 4px solid var(--color-azul-principal);
    color: var(--color-texto-prueba);
    width: 80%;
    margin: auto;
}

.contenedorTexto{
    padding-top: 10px;
    padding-left: 10px;
}

.contenedorTexto1{
    padding-bottom: 90px;
}

.textoCarta{
    font-size: 23px;
    font-weight: 400;
}

.contenedorCarta{
    align-items: center;
}

.contenedorCarta img{
    height: 350px;
    width: 430px;
    background-size: cover;
    padding:0 5px;
}
