<div class="arregloNav"></div>

<section class="bg-danger">
    <div class="cabecera">
        <div class="cabecera-catalogo d-flex justify-content-center align-content-center">
            <h1>Catálogo</h1>
        </div>
    </div>
    <div class="contenido">
        <div class="filtro d-flex flex-column px-4">
            <span class="titulo-filtro text-center">Filtros:</span>
            <div class="d-flex flex-column">
                <div>
                    <span>Combustible</span>
                </div>
                <div>
                    <span>Marca</span>
                </div>
                <div>
                    <span>Modelo</span>
                </div>
                <div>
                    <span>Cilindrada (rango)</span>
                </div>
                <div>
                    <span>Precio</span>
                </div>
            </div>
        </div>
        <div class="seccion-catalogo">

        </div>
    </div>
</section>
