<nav class="navbar-btc navbar sticky-top blurred">
    <div
        class="container-fluid d-flex align-items-center justify-content-between align-items-center navbar-css px-4 sticky-top">
        <i class="d-block fa-solid fa-bars boton-menu-barras" data-bs-toggle="offcanvas" href="#offcanvasExample"
            role="button" aria-controls="offcanvasExample"></i>
        <a routerLink="/inicio"><img src="/Img/Logo4.png" class="imagen-nav"></a>
        <i class="d-block fa-regular fa-user boton-inicio-sesion" routerLink="/contacto" data-bs-toggle="offcanvas" href="#inicioSesion"
            role="button" aria-controls="offcanvasRight"></i>
    </div>
</nav>

<div class="offcanvas offcanvas-start despliegue-menu" tabindex="-1" id="offcanvasExample"
    aria-labelledby="offcanvasExampleLabel">
    <i class="fa-solid fa-xmark boton-cerrar-menu" data-bs-dismiss="offcanvas" aria-label="Close"></i>
    <ul class="text-white d-flex flex-column justify-content-between me-5">
        <a routerLink="/inicio">
            <li class="ps-3 text-white">Inicio</li>
        </a>
        <a routerLink="/catalogo">
            <li class="ps-3 text-white">Catalogo</li>
        </a>
        <a routerLink="/comparativa">
            <li class="ps-3 text-white">Comparativa</li>
        </a>
        <a routerLink="/encuentranos">
            <li class="ps-3 text-white">Encuentranos</li>
        </a>
        <a routerLink="/contacto">
            <li class="ps-3 text-white">Contactanos</li>
        </a>
    </ul>
</div>


