<section class="container col-12">
  <div class="col-12 d-flex justify-content-center align-items-center py-3">
      <h2 class="text-white fs-2">Comparativa</h2>
  </div>
  <div class="contenedor-cuadro-comparativo d-flex" id="colocar-carros-comparativa">
  </div>

  <div
      class="col-12 text-white d-flex flex-column align-items-center justify-content-center py-3 mb-4 contenedor-comparativa">
      <div class="fs-3 mb-4">Compara las prestaciones de los modelos dentro de nuestro catalogo</div>

      <div class="d-flex w-100 contenedor-seleccionar-comparativa justify-content-center">


          <form name="seleccionar_camioneta_1" class="d-flex flex-column formulario-seleccionar-comparativa1">
              <select name="seleccionado"
                  class="contenedor-opciones-comparativa px-4 py-3 text-decoration-none text-white text-center">
                  <option value="0">Seleccione tipo de combustible</option>
                  <option value="1">Gasolina</option>
                  <option value="2">Diesel</option>
              </select>
              <select name="opt"
                  class="contenedor-opciones-comparativa mt-3 px-4 py-3  text-decoration-none text-white text-center"
                  id="seleccioneCamioneta">
                  <option value="-">Seleccione camioneta</option>
              </select>
          </form>
          <div class="comparativa-linea-vertical">
          </div>
          <form name="seleccionar_camioneta_2" class="d-flex flex-column formulario-seleccionar-comparativa2">
              <select name="seleccionado2"
                  class="contenedor-opciones-comparativa px-4 py-3  text-decoration-none text-white text-center">
                  <option value="0">Seleccione tipo de combustible</option>
                  <option value="1">Gasolina</option>
                  <option value="2">Diesel</option>
              </select>
              <select name="opt"
                  class="contenedor-opciones-comparativa mt-3 px-4 py-3  text-decoration-none text-white text-center"
                  id="seleccioneCamioneta2">
                  <option value="-">Selecciona camioneta</option>
              </select>
          </form>


      </div>


      <div class="col-12 d-flex justify-content-center align-items-start py-3">
          <span href=""
              class="contenedor-comparar-comparativa px-5 py-2 text-decoration-none text-white fs-2 d-flex align-items-center justify-content-center"
              id="btn-comparar">
              Comparar
          </span>
      </div>
  </div>

</section>
