.contenedor-comparativa {
    border-top: 2px solid var(--color-azul-principal);
    border-bottom: 2px solid var(--color-azul-principal);
    background: rgb(37, 37, 37);
    background: transparent;

}

.contenedor-opciones-comparativa {
    background-color: var(--color-gris-oscuro);
    border: 2px solid var(--color-azul-principal);
}

.contenedor-comparar-comparativa {
    border-top: 2px solid var(--color-azul-principal);
    border-bottom: 2px solid var(--color-azul-principal);
    background-color: var(--color-azul-oscuro) !important;
}

.contenedor-seleccionar-comparativa {
    position: relative;
    padding: 20px 0px;
}

.contenedor-seleccionar-comparativa::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 49.925%;
    /* Coloca la línea en el centro horizontal del contenedor */
    border-left: 3px solid var(--color-logo);
}

.formulario-seleccionar-comparativa1 {
    transform: translateX(-30px)
}

.formulario-seleccionar-comparativa2 {
    transform: translateX(30px)
}


.cartaCatalogoCompleto {

    margin-bottom: 40px;
    background-color: rgb(67, 67, 67);
    border: 4px solid var(--color-azul-principal);
    color: var(--color-texto-prueba);
    padding: 0 3px;
}

.cartaCatalogoCompleto img {

    padding: 10px;
    border-radius: 20px;
    height: 300px;
    width: 450px;
}

.contenedor1{
    margin-right: 5px;
}

.contenedor2{
    margin-left: 5px;
}

