<div>
  <div class="titulo-footer d-flex justify-content-start align-content-center">
    <h3 class="text-white"> Best trucks Colombia </h3>
  </div>
</div>
<div class="bloque-enlaces-footer d-column">
  <div class="my-2">
    <a href="/Preguntas" class="redireccion-preguntas text-decoration-none text-dark text-white">
      Preguntas</a>
  </div>
  <div class="my-2">
    <a href="/Encuentranos" class="redireccion-Encuentranos text-decoration-none text-dark text-white">
      Encuentranos
    </a>
  </div>
</div>
<div class=" contenedor-redes d-flex py-4 mx-3 justify-content-end align-center-end">
  <div class="px-1">
    <i class="fa-brands fa-square-facebook"></i>
  </div>
  <div class="px-1">
    <i class="fa-brands fa-square-instagram"></i>
  </div>
  <div class="px-1">
    <i class="fa-brands fa-square-x-twitter"></i>
  </div>
  <div class="px-1">
    <i class="fa-brands fa-linkedin"></i>
  </div>
  <div class="px-1">
    <i class="fa-brands fa-tiktok"></i>
  </div>
</div>