<section class="px-0">
    <div>
        <div class="titulo-footer d-flex justify-content-start align-content-center">
            <h3 class="text-white"> Best trucks Colombia </h3>
        </div>
    </div>
    <div class="bloque-enlaces-footer d-column">
        <div class="my-2">
            <a routerLink="/contacto" class="redireccion-preguntas text-decoration-none text-white footer footer2">
                Preguntas / Contacto</a>
        </div>
        <div class="my-2">
            <a routerLink="/encuentranos" class="redireccion-Encuentranos text-decoration-none text-white footer footer2">
                Encuentranos
            </a>
        </div>
        <div class="my-2 text-white footer">
            Tel: (+57) 312 301 2987
        </div>
    </div>
    <div class=" contenedor-redes d-flex py-4 mx-3 justify-content-end align-center-end">
        <a href="https://www.facebook.com" class="px-1 redesSociales">
            <i  class="fa-brands fa-square-facebook"></i>
        </a>
        <a  href="https://www.instagram.com"class="px-1 redesSociales">
            <i class="fa-brands fa-square-instagram"></i>
        </a>
        <a href="https://x.com/?lang=es" class="px-1 redesSociales">
            <i  class="fa-brands fa-square-x-twitter"></i>
        </a>
        <a  href="https://co.linkedin.com" class="px-1 redesSociales">
            <i  class="fa-brands fa-linkedin"></i>
        </a>
        <a href="https://www.tiktok.com/login?lang=es&redirect_url=https%3A%2F%2Fwww.tiktok.com%2Fupload%3Flang%3Des"  class="px-1 redesSociales">
            <i class="fa-brands fa-tiktok"></i>
        </a>
    </div>

</section>
