<section class="container mt-0">
  <div id="carouselExampleCaptions" class="d-flex carousel slide justify-content-center align-items-center"
    data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/Img/nomas-de-parqueaderos-de-visitantes.jpg" class="w-100" alt="Lightning">
        <div class="carousel-caption d-none d-md-block">
          <h3 class="text-white"> Quieres comprar tu auto y no sabes cual?, Permitenos asesorarte con
            nuestro amplio
            catalogo
            de modelos</h3>
          <a routerLink="/Catalogo" routerLinkActive="router-link-active" class="text-decoration-none text-light">
            Investigar -> </a>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/Img/istockphoto-1175730715-612x612.jpg" class="w-100" alt="Hilux-Diesel">
        <div class="carousel-caption d-none d-md-block">
          <h3 class="text-white">Ya sabes que es lo que quieres, pero no tienes claro que modelo comprar?, compara sus
            caracteristicas en nuestro comparador</h3>
          <a routerLink="/Comparativa" class="text-decoration-none text-light">
            Comparar -> </a>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/Img/Interrogation.jpg" class="w-100" alt="L200-gasolina">
        <div class="carousel-caption d-none d-md-block">
          <h3 class="text-white"> Necesitas ayuda personalizada, contactanos con tus dudas y con la inquietud con la que
            te
            podemos ayudar </h3>
          <a routerLink="/Preguntas" class="text-decoration-none text-light"> Contactar ->
          </a>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden"> Previous </span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

</section>