/* You can add global styles to this file, and also import other style files */
:root {
    --color-background-body: #31363B;

    --color-azul-principal: #090c9b;
    --color-azul-oscuro: #000B59;
    --color-gris-oscuro: #31363B;
    --color-gris-claro: #3f3f3f;
    --color-texto-prueba: #fff;
    --color-azul-claro: #3066be;
    --color-gris-carta: rgb(67, 67, 67);


}

body {

    background: linear-gradient(180deg, rgba(49,54,59,1) 0%, rgba(26,27,28,1) 100%) ;
}

.arregloNav{
    width: 1519.2px;
    height: 112.4px;
    background-color: var(--color-gris-oscuro);
}
