<div class="arregloNav"></div>
<section class="container">
    <div class="d-flex justify-content-center mb-5 mt-3 text-white">
        <h1>Catalogo Completo</h1>
    </div>
    <div class="contenedorImagenesCatalogo d-flex justify-content-between">
        @for (item of catalogo; track item._id) {
            <div class="card cartaCatalogoCompleto">
                <img src={{item.imagen}}/>

                <div class="card-body d-flex flex-column justify-content-center">
                    <h5 class="card-title">{{ item.marca }} {{  item.modelo  }} </h5>
                    <p>Modelo: {{item.year}}</p>
                    <p>Combustible: {{item.combustible}}</p>
                    <p>Cilindrada: {{item.cilindrada}} c.c</p>
                    <p>Potencia - Torque: {{item.potencia}} hp - {{item.torque}} Nm</p>
                    <p>Valvulas: {{item.valvulas}}</p>
                    <p>Consumo promedio: {{item.consumo_promedio}} L/100Km</p>
                    <p>Dimensiones: {{item.dimensiones}} (mm)</p>
                    <p>Precio: {{item.precio}}$ USD</p>
                    <a routerLink="/contacto" class="btn btn-primary boton mb-2">Cotizar</a>
                    <a routerLink="/comparativa" class="btn btn-warning boton">Comparativa</a>
                </div>
            </div>
        }

    </div>



</section>
