<div class="arregloNav"></div>
<h2 class="titulo-encuentranos d-flex justify-content-center align-items-center py-2 text-white">Encuentranos</h2>
<section class="container-encuentranos d-flex justify-content-center align-content-center mt-5">
    <div class="px-2 mx-4">
        <div class="d-block flex-column justify-content-start align-items-start">
            <h3 class="d-flex fw-bolder fs-5 text-white">Best Trucks Colombia, Sede Norte Bogotá</h3>
            <br />
            <p class="text-white">
                <i class="d-flex fa-solid fa-location-dot text-white"></i>
                Avenida Calle. 127 #71-16.
                <br />
                Bogotá, Colombia. 111121
            </p>
        </div>

        <div class="">
            <h3 class="fw-bolder fs-5 text-white">Horarios de atencion</h3>
            <ul class="list-unstyled text-white">
                <li>Lunes: 9:00 a.m - 5:00 p.m</li>
                <li>Martes: 9:00 a.m - 5:00 p.m</li>
                <li>Miercoles: 9:00 a.m - 5:00 p.m</li>
                <li>Jueves: 9:00 a.m - 5:00 p.m</li>
                <li>Viernes: 9:00 a.m - 5:00 p.m</li>
                <li>Sábado: 9:00 a.m - 5:00 p.m</li>
                <li>Domingo/Festivos: 9:00 a.m - 2:00 p.m</li>
            </ul>
        </div>
    </div>
    <div>
        <div class="d-block text-white">
            <h3 class="fw-bolder fs-5">Directores generales de la ubicacion</h3>
            <p>Sr. Jesar Rodriguez</p>
            <p>Sr. Andres Romero</p>
        </div>
        <div class="px-2 text-white">
            <h3 class="fw-bolder fs-5">Contacto</h3>
            <p>
                <i class="fa-thin fa-phone-flip"></i>
                Tel: (+57) 312 301 2987
            </p>
        </div>
    </div>
</section>

<div class="d-block my-5 align-items-center justify-content-center">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1988.1717608691781!2d-74.07756582180012!3d4.71025604700765!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f852a7306cbb1%3A0xa2b1dfebbe921ee4!2sAv.%20C.%20127%20%2371-16%2C%20Suba%2C%20Bogot%C3%A1%2C%20Cundinamarca!5e0!3m2!1ses-419!2sco!4v1713487899831!5m2!1ses-419!2sco" width="100%" height="400" style="border: 0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
