:root{
    /**  --color-principal: #010005;
      --color-fondo-body: background: rgb(1,0,5);
      background: linear-gradient(180deg, #010005e7 0%, rgba(122,128,129,1) 100%);;
      --color-navbar: #4D5F3E;
      --color-texto: #c9c9c9;
      --color-logo: #FFF;
      --color-auxiliar: #7a8081;
      --color-princpial-medio-oscuro: #47573b;
      --color-oscuro-hover: #35412c;**/




      --color-principal: #516343;
      --color-fondo-body: #AAC0A5;
      --color-navbar: #4D5F3E;
      --color-texto: #c9c9c9;
      --color-logo: #FFF;
      --color-auxiliar:#000000;
      --color-oscuro-hover: #35412c;


      --color-background-body: background: rgb(0,0,0);
      background: linear-gradient(180deg, rgba(0,0,0,1) 10%, rgba(83,83,83,1) 100%);;
      --color-azul-principal: #000d72;
      --color-azul-oscuro: #000B59;
      --color-gris-oscuro: #1D1D1D;
      --color-gris-claro: #3f3f3f;
}
